{{#each Tasks}}

{{#if completed}}

<li class="todo-item collection-item">
  <input type="checkbox" checked disabled />
  <lable>{{task}}</lable>
  <input type='text' class='edit' style='display: none;' />
</li>
{{/if}}
{{/each}}