{{!-- <select class="browser-default cat-options" style="display: none;">
  <option value="">Choose Category</option>

  <option value="Education" data-category="1">Education</option>
  <option value="Family" data-category="2"> Family </option>
  <option value="Finances" data-category="3"> Finances </option>
  <option value="Hobbies" data-category="4"> Hobbies </option>
  <option value="Home" data-category="5"> Home </option>
  <option value="Healthiness" data-category="6"> Healthiness </option>
  <option value="Social" data-category="7"> Social </option>
  <option value="Work" data-category="8"> Work </option>

</select> --}}
<select class="browser-default cat-options" style="display: none;">

  <option value="">Choose Category</option>

  {{#each Selection}}
  {{#unless active}}
  <option value="{{category}}" data-active="{{active}}" data-category="{{id}}">{{category}}</option>
  {{/unless}}
  {{/each}}


</select>