{{#each Selection}}
{{#if completed}}
<div class="col l4 s10 offset-m1">
  <section class="category">

    <div class="card z-depth-4">
      <ul class="collection with-header">

        <li class="collection-header z-depth-2">
          <h5 class="category-title" data-category="{{id}}">{{this.category}}</h5>
          <img src="/img/{{this.category}}.png" width="60" alt="">
        </li>

        {{> task-block}}

        <li class="add-todo-item collection-item" style="display: none;">
          <input type="text" class="new-task" data-category="{{id}}">
        </li>

        <div class="todo-items-completed">
          <a class="sm-link view-completed"><span>View All</span><span style="display: none">Hide</span></a>
          <ul class="completed-list" style="display: none;">

            {{> completed-block}}

          </ul>
        </div>

      </ul>
    </div>
    <div class="btn-wrapper">
      <a class="new-task-btn btn-floating btn-large waves-effect waves-light z-depth-4"><i
          class="material-icons">add</i></a>
    </div>
  </section>
</div>
{{/if}}
{{/each}}