<form id="login">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Submit</button>
  <a href="/signup">Signup</a>
</form>