<div class="col l6 offset-l3 m8 offset-m2 s12">

  <section class="login">
    <div class="card z-depth-4">

      <ul class="collection with-header">
        <li class="collection-header light-green darken-1">
          <h5>Login</h5>
        </li>

        <form>
          <li class="collection-item">
            <input class="" type="text" name="username" placeholder="username">
          </li>
          <li class="collection-item">
            <input class="" type="password" name="password" placeholder="password">
          </li>
        </form>

        <div class="btn-wrapper">
          <button type="submit" class="btn light-green darken-1">Login</button>
          <a href="/signup"><span class="sm-link">Signup</span></a>
        </div>
      </ul>

    </div>
  </section>

</div>